.message_section{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
}

.message_info{
    margin-left: 10px;
}

.message_timestamp{
    margin-left: 10px;
    color: gray;
    font-size: smaller;
}